{% extends "base.html" %}

{% block content %}
<div>
 <article class="card w-96 py-2 w-full ">
  <div class="card-body">
    <h2 class="card-title"> How to park your car at your garage?</h2>
    <p> t is a long established fact that a reader will be distracted by the
    readable content of a page when looking at its layout. The point of using
    Lorem Ipsum is that it has a more-or-less normal distribution of letters,
    as opposed to using 'Content here, content here', making it look like
    readable English. Many desktop publishing packages and web page editors now
    use Lorem Ipsum as their default model text, and a search for 'lorem ipsum'
    will uncover </p>
    <div class="card-actions justify-end mt-2">
      <button class="btn btn-primary"> Publier </button>
       <button class="btn btn-primary"> Modifier </button>
       <button class="btn btn-primary"> Archiver </button>
    </div>
  </div>
  </article>
  <hr>
 <article class="card w-96 py-2 w-full ">
  <div class="card-body">
    <h2 class="card-title"> How to park your car at your garage?</h2>
    <p> t is a long established fact that a reader will be distracted by the
    readable content of a page when looking at its layout. The point of using
    Lorem Ipsum is that it has a more-or-less normal distribution of letters,
    as opposed to using 'Content here, content here', making it look like
    readable English. Many desktop publishing packages and web page editors now
    use Lorem Ipsum as their default model text, and a search for 'lorem ipsum'
    will uncover </p>
    <div class="card-actions justify-end mt-2">
      <button class="btn btn-primary"> Publier </button>
       <button class="btn btn-primary"> Modifier </button>
       <button class="btn btn-primary"> Archiver </button>
    </div>
  </div>
  </article>

</div>
{% endblock %}
