{% load static %}
{% load tailwind_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block head_title %}FAQ{% endblock %}</title>
    {% include 'head/css.html' %}
</head>
<body>
    <header>
        <div class="navbar bg-base-100">
          <div class="navbar-start">
            <div class="dropdown">
              <label tabindex="0" class="btn btn-ghost btn-circle">
                  <i class="fa-solid fa-bars"></i>
              </label>
              <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
                <li><a href="/">Homepage</a></li>
                <li><a href="/admin">Admin</a></li>
                <li><a>A propos</a></li>
              </ul>
            </div>

            {%block title %}{%endblock%}
            
          </div>
          <div class="navbar-center">
            <a class="btn btn-ghost normal-case text-xl">Foire aux questions</a>
          </div>
          <div class="navbar-end">
            {% if user.is_authenticated %}
               Hello, {{ user.username }}  
              {%  if user.is_superuser %}  (admin) {% endif %}
            {% endif %} 

            {% block head %} {%endblock%} 
            {% if user.is_authenticated  %}
                 {% if user.is_superuser == False %}
                    <a href="{%url 'question_new' %}" class="btn btn-ghost btn-circle">
                        <i class="fa-regular fa-plus"></i>
                    </a>
                 {% endif %}
                 <div class="dropdown dropdown-left">
                  <label tabindex="0" class="btn btn-ghost btn-circle">
                    <i class="fa-solid fa-filter"></i>
                  </label>
                  <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
                      <li><a href="{% url 'all_resolved_questions' %}"> Toutes Questions Résolues</a></li>
                      {% if user.is_superuser %}
                        <li><a href="{% url 'non_resolved_questions' %}"> Questions à Traiter </a></li>
                      {% else %}
                        <li><a href="{% url 'non_resolved_guest_questions'%}">
                                Questions en attente </a></li>
                        <li><a href="{% url 'my_published_questions' %}">
                                Questions publiées </a></li>

                        <li><a href="{% url 'my_drafts' %}"> Drafts </a></li>
                      {% endif %}              
                  </ul>
                </div>
                <a href="{% url  'logout' %}" class="btn btn-ghost btn-circle">
                   <i class="fas fa-sign-out"></i>
                </a>
            {% else %}
              <a href="{% url 'register' %}" class="btn btn-ghost btn-circle">
                   <i class="fas fa-sign-in"></i>
                </a>
            {% endif %}
          </div>
          </div>
    </header>
    {% block content %}{% endblock %}

    <footer class="fixed bottom-0  z-20 w-full p-4 bg-white md:py-6">
        <div class="footer-center p-6 w-full">
         <span class="text-sm text-gray-500 sm:text-center">©
            2023 <a href="" class="hover:underline">SakayDev™</a>. All Rights Reserved.
        </span>
       </div>
    </footer>
</body>
</html>      
