{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    {% if form.errors %} 
        <p> Your username and password didn't match. Please try again </p>
    {% endif %}
   <div class="w-full flex flex-col max-w-7xl mx-auto px-4 mt-8">
     <h2 class="card-title mb-4"> Log In </h2>
     <hr>
     <br>
     <form method="post">
          {% csrf_token %}
          {{ form | crispy}}
          <div class="space-x-2 mt-4">
           <button class="btn" type="submit">Login</button>
           <a class="btn" href="/"> Annuler </a>
          </div>
    </form>
{% endblock %}
