{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}          
   <div class="w-full max-w-7xl mx-auto px-4 mt-8">
        <h2 class="card-title mb-4">Inscription</h2>
        <hr>
        <br>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy}}                    
            <br>
            <button class="btn btn-primary" type="submit">Register</button>
        </form>
        <br><br>
        <p class="text-gray-500 text-sm">Si vous avez déjà un compte, authentifiez-vous ici :  <a
            href="/accounts/login" class="btn  btn-promary">LOGIN</a> </p>
    </div>
{% endblock %}
