{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}          
   <div class="w-full max-w-7xl mx-auto px-4 mt-8">
        <h2 class="card-title mb-4">Inscription</h2>
        <hr>
        <br>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy}}                    
            <br>
            <p class="text-gray-500 text-sm mb-2">Si vous avez déjà un compte, authentifiez-vous </p>
            <div class="space-x-2">
               <button class="btn btn-primary" type="submit">Register</button>
               <a class="btn "  href="/accounts/login"> Login </a>  
            </div>
        </form>
    </div>
{% endblock %}
