{% extends 'base.html' %}
{% block content %}
<article class="card w-96 w-full ">
  <div class="card-body">
      <h2 class="card-title">  {{ question.title  }} </h2>
      <ul class="text-sm text-gray-500">
          <li> Crée le :  {{ question.created_at }} </li>
          <li> Publiée le :  {{ question.published_date }} </li>
          <li> Résolue le :  {{ question.resolved_date  }} </li>
          <li> Modifié le :  {{ question.modified_at }} </li>
          <li> Auteur :  {{ request.user.username  }} - {{ request.user.lastname }}</li>
      </ul>

    <p class="mt-1"> {{ question.answer  }}</p>
    <div class="card-actions justify-end mt-1">
        {% if user.is_authenticated  and user.is_superuser %}
            {% if question.answer == None  %}
                <a class="btn btn-outline btn-secondary btn-xs" href="{% url 'answer_edit' pk=question.pk %}"> Répondre </a>
            {% else %}
                <a class="btn btn-outline btn-secondary btn-xs" href="{% url 'answer_edit' pk=question.pk %}"> Modifier </a>
            {% endif %}
            {% if question.resolved_date == None %}
                <a href="{% url 'question_resolve' pk=question.pk %}" class="btn btn-outline btn-secondary btn-xs"> Marquer comme résolue </a>
            {% endif %}
            <button class="btn btn-outline btn-xs  btn-secondary"> Archiver </button>
         {% endif %}
        {% if question.author == user and question.published_date == None %}
            <a href="{% url 'question_publish' pk=question.pk %}" class="btn btn-outline btn-secondary btn-xs"> Publier </a>
            <a class="btn btn-outline btn-secondary btn-xs" href="{% url 'question_edit' pk=question.pk %}"> Modifier</a>
        {% endif %}
    </div>
  </div>
  </article>
{%endblock%}
